/** general settings **/

body
{
   background-image: url(../images/space.png);
   font-family:Helvetica,Arial;
   font-size:0px;
   margin:0px;
   padding:0px;
   user-select :none;
}

/** hide copyright **/

span.cesium-credit-textContainer
{
   display: none;
}

#earth_div
{
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   position: absolute !important;
   z-index: 0;	
}

/** handle locate point on earth **/

.we-pm-icon.meteor_location
{
   width: 10px!important;
   height: 10px!important;
   margin-left: 0px!important;
   margin-top: 0px!important;
   z-index: 10;
}

.we-pm-icon.current_location
{
   width: 60px!important;
   height: 60px!important;
   margin-left: -30px!important;
   margin-top: -40px!important;
   background-size: cover;
}

.locate_circle
{
   position: relative;
   width: 10px;
   height: 10px;
   background-color: #ee7a44;
   border-radius: 100%;
   transition: all 0.5s ease-in-out;
   cursor: pointer;
}	

.locate_second
{
   position: absolute;
   left: 50%;
   top: 50%;
   width: 40px;
   height: 40px;
   transform: translate(-50%, -50%);
   opacity: 0;
   background-color: transparent;
   transition: opacity 0.3s ease-in-out;
   border-radius: 100%;
   border: 3px dotted #ee7a44;
}

.layer_ring
{
   z-index: 0!important;
}

/*side bar*/

.sideContent h2
{
   font-family: 'Economica', sans-serif;
   font-size:16px; 
   font-weight: 400;
   text-transform: uppercase;
   margin-top: 20px;
   margin-bottom: 15px;
   color: #fefefe;
}
p {
   color:white;
   font-size:15px;
}

.sideContent h3
{
   font-family: 'PT Sans', sans-serif;
   font-size:14px; 
   font-weight: 400;
   color: #ee7a44;
}

.sideContent ul
{
   padding: 0px;
}

.sideContent ul li
{

}

.sideContent ul li img
{
   width: 40px;
   height: auto;
}

.sideContent ul li span
{
   color: #fefefe;
   font-family: 'PT Sans', sans-serif;
   font-size:13px; 
   font-weight: 400;
}

.data-range
{
   background: rgba(0, 0, 0, 0.75);
   padding-left: 15px;
   padding-right: 15px;
}

.container
{
   width: 100vw;
   height: 100vh;
   position: relative;
}

.side_bar
{
   width: 300px;
   height: 100vh;
   max-height: 100vh;
   overflow: visible;
   font-size:14px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 5;
}

.side_bar .logo
{
   padding-top:20px;
   height: 60px;
}

.side_bar .logo img
{
   width: 280px;
   height: auto;
   margin: auto 10px;
}

.side_bar .line
{
   width: 100%;
   height: 2px;
   background: #fefefe;
   margin: 0px auto;
   margin-top: 25px;
}

.side_bar .line:first-child
{
   width: 270px; 
}

.side_bar .try
{
   display: flex;
   flex-direction: row;
   align-content: space-around;
   align-items: center;
   margin:10px auto 5px auto;
}

.data-set 
{
   color:#ee7a44;
   font-size:16px;
   font-family: 'Economica', sans-serif;
   font-weight: bold;
}

.picto 
{
   width: 50px;
}

.side_bar .try .victim_number
{
   color: #ee7a44; 
   font-size: 16px;
   font-family: 'Economica', sans-serif;
   font-weight: bold;

}

.side_bar .try .coordinates
{
   color: #ee7a44; 
   font-size: 16px;
   font-family: 'Economica', sans-serif;
   font-weight: bold;
}

.side_bar .title_comparison
{
   color: #ee7a44; 
}

.side_bar .death_reason
{
   display: block;
   width:100%;
   margin:0 auto;
   padding:5px 0px;
   color: #fcfcfc;
}

.side_bar .death_reason p
{
   margin-right: 5px;
   display:inline-block;
}

.side_bar .death_reason .picto_death_reason
{
   width: 15%;
   display:inline-block;
}

/* design input range */ 

input[type=range] {
   -webkit-appearance: none;
   width: 100%;
   margin: 0 auto;
   height: 5px;
}
input[type=range]:focus {
   outline: none;
}

input[type=range]::-webkit-slider-thumb {
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
   border: 0px solid rgba(0, 0, 0, 0);
   height: 30px;
   width: 6px;
   border-radius: 10px;
   background: #ee7a44;
   cursor: pointer;
   -webkit-appearance: none;
   margin-top: 0px;
}

input[type=range]::-moz-range-thumb {
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
   border: 0px solid rgba(0, 0, 0, 0);
   height: 30px;
   width: 6px;
   border-radius: 10px;
   background: #ee7a44;
   cursor: pointer;
}
input[type=range]::-ms-track {
   width: 100%;
   height: 8.4px;
   cursor: pointer;
   background: transparent;
   border-color: transparent;
   color: transparent;
}

input[type=range]::-ms-thumb {
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
   border: 0px solid rgba(0, 0, 0, 0);
   height: 30px;
   width: 6px;
   border-radius: 10px;
   background: #ee7a44;
   cursor: pointer;
   height: 8.4px;
}

.meteor 
{ 
   width:100px;
   height:100Px;
   background-color:white;
   margin:20px;
   display:inline-block;
}


.space {
   width:100vw;
   height:100vh;
   position:absolute;
   z-index:3;
}

.elements_main {
   display:inline-block;
   vertical-align:top;
}

.delete {
   display:none;
}

#victim_count { color:red; }

.closed {display:none;}

.fill_data {
   height:100%;
   background-color:#ee7a44;
   width:0px;
   transition:300ms linear all;
}

/* ANimation tuto */

.tuto{
   position: absolute;
   z-index: 7;
   top: 100vh;
   right: 5vw;
   height: 370px;
   transform: translateY(-370px);
}

.tuto .perso{
   width: 200px;
   right: 70px;
   bottom: 0px;
   position: absolute;
   z-index: 2;
}

.tuto .perso img{
   width: 200px;
}

.tuto .messagesTuto{
   width: 300px;
   height: 150px;
   background: rgba(255, 255, 255, 0.6);
   position: absolute;
   z-index: 1;
   right: 0px;
   padding-left: 15px;
   padding-right: 15px;
}

.tuto .messagesTuto p{
   color: black;
   display: block;
   font-size: 14px;
   position: absolute;
   z-index: 13px;
}

.tuto .triangleTuto{
   opacity: 0.6;
   position: absolute;
   z-index: 43;
}

.tuto .triangleTuto img{
   width: 60px;
   height: 60px;
   margin-top: 150px;
   margin-left: 50px;
}

.tuto .understood{
   width: 150px;
   height: 40px;
   border: 2px solid #51909D;
   position: absolute;
   z-index: 100;
   right: 50%;
   top: 100px;
   transform: translateX(75px);
   color: black;
   font-size: 15px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

#earth_div canvas{
   display: block;
   background: transparent;
   width: 100vw;
   height: 100vh;
}


#earth_div div.moon{
   position: absolute;
   top: 50%;
   left: 48%;
   transform: translate(-50px, -50px);
   animation: turnAroundMoon 10s ease infinite;
}

@keyframes turnAroundMoon{
   0%{transform: translateX(-250px); z-index:2;}
   50%{transform: translateX(250px); z-index: 2;}
   100%{transform: translateX(-250px); z-index:-10;}
}

#earth_div div.moon img{
   width: 50px;
}

div.container > canvas{
   display: block;
   width:500px;
   height:500px;
   background:#000;
   position: absolute;
   z-index: 0;
}
.understood {
   cursor: pointer ;
}

/* Media Queries */
@media only screen and (max-width: 700px){
   
   .tuto { display:none}

}