body{
    cursor: url('../images/cursor3.png'), auto;
}

.left{
    float: left;
}

.div { 
    width:100px;
    height:30px;
    border-radius:20px;
    border:1px solid red;
    margin:20px;
    display:inline-block;
    position:relative;
    z-index: 1;
    background: rgba(255,255,255, 0.5);
 }
 .delete {
    display:none;
 }